.h-center,.center{
    /* margin-top: 150px; */

    margin-left: auto;
    margin-right: auto;
    /* margin: auto;*/
    width: 50%;
   /* border: 3px solid green; */
    padding: 10px;
}
.h-center{
    margin-left: 30%;
    padding-top: 50px;
}
.center{
    margin-top: 50px;
    padding-left: 45px;
}
.inp{
    display: block;
    padding: 2px;
}
.form-class{
    padding-left: 150px;
}
body{
    background-color: rgb(60, 168, 222);
}
