<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Form</title>
    <link rel="stylesheet" type="text/css" href="{{  url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="bgImg">

    </div>

    <div class="">
        <h1 class="h-center">Athulya Registeration Form</h1>
        <div class="center">
        <form action="/submit" class="form-class" method="get">
            <label for="firstName" class="inp">First name</label>
            <input type="text" name="firstName" id="firstName" class="inp"><br>
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" id="lastName" class="inp"><br>
            <label for="age">Age</label>
            <input type="number" name="age" id="age" class="inp"><br>
            <label for="gender">Gender</label>
            <input type="text" name="gender" id="gender" class="inp"><br>
            <label for="ph">Phone number</label>
            <input type="number" name="ph" id="ph" class="inp"><br>
            <p>What Services You want?</p>
            <input type="checkbox" name="service" id="service1" value="1">
            <label for="both">Both Care</label><br>
            <input type="checkbox" name="service" id="service2" value="2">
            <label for="typeCare1">Assisted Living</label> <br>
            <input type="checkbox" name="service" id="service3" value="3">
            <label for="typeCare2">Home Care</label><br>
            <input type="submit" value="Register" style="margin-top: 15px; color: green; background-color: greenyellow;"><br>
        </form>
        </div>
    </div>
</body>
</html>